{
	"extends": "eslint:recommended",
    "ecmaFeatures": {	
    	"modules": true,
    },
    "env": {
    	"node": true,
    	"es6": true
    },
    "rules": {
        "semi": 2,
        "no-undef-init": 2,
        "no-unused-vars": 2,
        "no-use-before-define": 2,
        "no-console": 0
    }
}
